table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 75px;

  padding-left: 12px;

  td {
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.008em;
    color: #11142d;

    opacity: 0.8;
  }
}

.task__select {
  height: 36px;
}
